{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ obj.title }} &ndash; {{ block.super }}{% endblock %}

{% block extrahead %}
<meta name="og:description" content="{{ obj.description }}"/>
<meta name="og:title" content="{{ obj.title }}"/>
{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
    
    <hgroup class="page-header">
        {% if obj.title %}<h1>{{ obj.title }}{% for t in obj.get_tags %}
        <span class="label">{{ t }}</span>
        {% endfor %}</h1>{% endif %}
        {% if obj.description %}<p>{{ obj.description }}</p>{% endif %}
    </hgroup>
    
    {% if obj.url %}
    <p><a href="{{ obj.url }}">{{ obj.url }}</a></p>
    {% endif %}

    {% if obj.content %}
    <div id="content-data">
        <pre>{{ obj.content }}</pre>
    </div>
    {% endif %}

{% endblock %}